<!DOCTYPE html>
<html>
<head>
	<title>HomePage</title>
</head>
<body style="text-align:center; background-color: #ADD8E6">
	<strong><h1 style="background-color: #FFE3AA"></h1>Django-DSpace System</strong>
	<p style="background-color: #D4B16A">
		
	 <table style="width:100%">
  <tr>
    <th>Collaboration System</th>
    <th>DSpace</th>
  </tr>
  <tr>
    <td><a href="{% url 'test_get_communities' %}"><button>T Get Communities</button></a></td>
    <td><a href="{% url 'test_login' %}"><button>T Log In</button></a></td>
  </tr>
  <tr>
    <td><a href="{% url 'test_get_community_resources' %}"><button>T Get Resources From Communities</button></a></td>
    <td><a href="{% url 'test_logout' %}"><button>T Log Out</button></a></td>
  </tr>
  <tr>
    <td><a href="{% url 'test_get_groups' %}"><button>T Get Groups</button></a></td>
    <td><a href="{% url 'test_create_collection' %}"><button>T Create Collection</button></a></td>
  </tr>
  <tr>
    <td><a href="{% url 'test_get_group_resources' %}"><button>T Get Resources From Group</button></a></td>
    <td><a href="{% url 'test_create_sub_community' %}"><button>T Create Sub Community</button></a></td>
  </tr>
  <tr>
    <td> </td>
    <td><a href="{% url 'create_community' %}"><button>Create Community</button></a></td>
  </tr>
  <tr>
    <td> </td>
    <td><a href="{% url 'test_create_community_resources' %}"><button>Create Community Resources</button></a></td>
  </tr>
  				
		

	</table> 
	
	</p>
        {% if data %}
	<hr>  	<strong style="padding-right:100px;">Community Name</strong><strong>Community Category</strong><hr><br>
		{% for community in data %}
			<a style="padding-right:100px;">{{ community.name }}</a> {{community.category}}<br>
		{% endfor %}
	{% endif %}

	{% if data1 %}
  	<hr>    <strong style="padding-right:100px;">Resources Title</strong><strong>Resources Category</strong><hr><br>
		{% for res in data1 %}
			<a style="padding-right:100px;">{{ res.title }} </a> {{ res.cname }}<br>
		{% endfor %}
	{% endif %}

	<hr>
	<strong>Messages</strong>
	{% if messages %}
           <ul class="messages">
               {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
               {% endfor %}
           </ul>
        {% endif %}
	<p>{{mess}}</p>
	<br>
</body> 
</html>
